@* Views/Shared/_Header.cshtml *@

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 position-relative">
    <div class="container-fluid position-relative">
        <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">INOVATECH</a>

        <div class="navbar-collapse collapse d-sm-flex justify-content-between align-items-center">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Index">Cadastros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Hometicket" asp-action="Index">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="FormsTicket" asp-action="Create">Novo Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="RelatorioGerencial" asp-action="relatorio">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Chatbot" asp-action="Index">Chatbot</a>
                </li>
            </ul>

            <div class="d-flex align-items-center header-icons">

                <a href="/Perfil/Index" title="Perfil">
                    <i class="fa-solid fa-user"></i>
                </a>

                @* AÇÃO CRÍTICA: Removido o formulário desnecessário. O botão agora APENAS abre o modal *@
                <button type="button" 
                        class="btn btn-logout" 
                        title="Sair"
                        data-bs-toggle="modal" 
                        data-bs-target="#confirmLogoutModal">
                    <i class="fa-solid fa-right-from-bracket"></i> Log Out
                </button>
            </div>
        </div>
    </div>
    <script src="~/js/header.js" asp-append-version="true"></script>
</nav>