@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container py-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <p>Esta Política de Privacidade descreve como o sistema INOVATECH coleta, usa e protege as informações pessoais de seus usuários. Ao utilizar o nosso serviço, você concorda com os termos descritos nesta política.</p>

    <h2 class="mt-5">Coleta de Dados Pessoais</h2>
    <p>Nós coletamos informações que você nos fornece diretamente, como nome, e-mail, telefone e outras informações de contato. Essas informações são usadas para criar e gerenciar sua conta, fornecer suporte e melhorar nossos serviços.</p>

    <h2 class="mt-5">Uso das Informações</h2>
    <p>Os dados coletados são utilizados para:</p>
    <ul>
        <li>Fornecer e manter nosso serviço.</li>
        <li>Gerenciar sua conta de usuário.</li>
        <li>Responder às suas solicitações e prestar suporte técnico.</li>
        <li>Analisar o uso do serviço para melhorias.</li>
    </ul>

    <h2 class="mt-5">Segurança dos Dados</h2>
    <p>Nós nos esforçamos para proteger suas informações pessoais. No entanto, lembre-se de que nenhum método de transmissão pela internet ou de armazenamento eletrônico é 100% seguro. Embora nos esforcemos para usar meios comercialmente aceitáveis para proteger seus dados, não podemos garantir sua segurança absoluta.</p>

    <h2 class="mt-5">Alterações nesta Política de Privacidade</h2>
    <p>Nós podemos atualizar nossa Política de Privacidade periodicamente. Notificaremos você sobre quaisquer alterações publicando a nova política nesta página. Recomendamos que você revise esta Política de Privacidade periodicamente para quaisquer alterações.</p>
</div>